body{
    background-color: skyblue;
}

h1{
    text-align: center;
}
.container{
    display: grid;
    place-content: center;
}

.all{
    display: grid;
    place-content: center;
}


.loginform{
    padding: 15px;
    border-radius: 30px;
    width: 80%;
    border: 1px solid;
    border-radius: 20px;
    background-color: lightcyan;
    width: 350px;
    margin: 15px auto;
    border: silver solid;
}

.uname, .passw{
    padding: 10px;
    margin: 15px;
    border: 1px solid;
    border-radius: 15px;
}

.tombol{
    background-color:royalblue;
    padding: 8px;
    border-radius: 30px;
    border: steelblue;
    font-weight: bold;
    color: white;
    width: 80%;
}
.tombol:hover {
    background: darkslateblue;
    text-decoration: none;
}

fieldset{
    width: max-content;
    background-color: rgb(231, 170, 204);
    margin: auto;
    display: flex;
    padding: 30px;
    text-align: center;
}
h1{
    text-align: center;
}

.main{
    padding:35px;
    display: grid;
    place-content: center;
}
.gambar{
    padding: 30px;
    border-radius: 30px;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(212, 157, 137);
    width: 700px;
    height: 600px;
    margin: 100px auto;
    border: silver solid;
}

img {
    padding: 30px;
    height: 250px;
    width: 400px;
}
#tempat{
    border-radius: 20px;
    padding: 15px;
}

.Chat {
    width : 700px;
    min-height: 450px;
    border : 2px solid rgb(226, 148, 203);
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
    background: salmon;
    padding-top: 5px;
    display: grid;
}

#hasil {
    text-align: left;
    padding-left: 20px;
}

h1{
    text-align: center;
    padding: 50px;
}

h2{
    text-align: left;
}

#pesan {
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 50px;
    bottom: 15px;
    left: 8px;
    border-radius: 30px;
    border: white;
}

.tombolchat {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 15px;
    right: 5px;
    background-color:royalblue;
    padding: 10px;
    border-radius: 30px;
    border: steelblue;
    font-weight: bold;
    color: white;
    width: 100px;
    /* margin-right: 3px; */
}

.tombolchat:hover {
    background: darkcyan;
    text-decoration: none;
}

@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
        
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }
    h1{
        font-size: 2.5rem;
        margin: 8px 0;
    }
}

@media screen and (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }
    .logincontainer{
        justify-content: center;
    }
}

.valid {
    background-color: thistle;
    border: 2px solid lightslategray;
    margin: 80px;
    padding: 20px;
    border-radius: 10px;
}

.form1, .form2, .form3, .form4, .form5{
    padding: 20px;
}

#klik {
    background-color: dodgerblue;
    padding: 8px; 
    margin: 20px;
    border-radius: 30px;
    border: steelblue;
    font-weight: bold;
    color: white;
    width: 25%;
}

#klik:hover{
    background-color: steelblue;
}

.box1, .box2, .box3, .box4, .box5{
    border-radius: 10px;
    padding: 8px;
}

p{
    font-size: small;
}

